# B_3: Loading a CSV File

In [1]:
# Problem Statement: To import a comma-seperated values (CSV) file
# Solution: Use the pandas library read_csv to load a local or hosted CSV file into a pandas DataFrame

In [2]:
# load the library

import pandas as pd

In [3]:
# create the url

url = 'https://raw.githubusercontent.com/chrisalbon/sim_data/master/data.csv'

In [4]:
# load the dataset

dataframe = pd.read_csv(url)

In [5]:
# view the first two rows

dataframe.head(2)

   integer             datetime  category
0        5  2015-01-01 00:00:00         0
1        5  2015-01-01 00:00:01         0

In [6]:
# able to see how they are structured and what parameters required to load in a file
# read_csv has over 30 parameters

In [7]:
# CSV files, seperated by commas 
# pandas, sep parameter defines the delimiter used in a file
# header specifies if or where a header row exists
# if header does not exist, set header = None

In [8]:
# read_csv --> returns pandas dataframe
# common and useful object for working tabular data