# B_4: Loading an Excel File

In [1]:
# Problem Statement: To import an excel spresdsheet
# Solution: Use the pandas library read_excel to load an Excel spreadsheet

In [2]:
# load the library

import pandas as pd

In [3]:
# create the url

url = 'https://raw.githubusercontent.com/chrisalbon/sim_data/master/data.xlsx'

In [4]:
# load the data

dataframe = pd.read_excel(url, sheet_name = 0, header = 1)

In [5]:
# view the first two rows

dataframe.head(2)

   5 2015-01-01 00:00:00  0
0  5 2015-01-01 00:00:01  0
1  9 2015-01-01 00:00:02  0

In [6]:
# sheetname, specifies which sheet in excel file to load
# load.sheetname --> string, name of the sheet
# integers, sheet position
# to load multiple sheets, include list