# B_9: Querying a SQLite Database

In [3]:
# Problem Statement: To load data from a database using SQL
# Solution: Use pandas read_sql_query to make a SQl query to a database and load it

In [12]:
# load the library

import pandas as pd
from sqlalchemy import create_engine

In [20]:
# create a connection to the database

data_connection = create_engine('sqlite:///sample.db')

In [21]:
df = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", data_connection)

In [22]:
print(df.head())

Empty DataFrame
Columns: [name]
Index: []

In [23]:
# References: SQLite
# W3Schools SQL Tutorial