# B_11: Loading Data from a Data Sheet

In [1]:
# Problem Statement: To read data in directly from a google sheet
# Solution: Use pandas read CSV and a url that exports the google sheet as a CSV

In [2]:
# import libraries

import pandas as pd

In [3]:
# google sheet url that downloads the sheet as a csv

url = "https://docs.google.com/spreadsheets/d/1ehC-9otcAuitqnmWksqt1mOrTRCL38dv0K9UjhwzTOA/export?format=csv"

In [4]:
# read the csv into a dataframe

dataframe = pd.read_csv(url)

In [5]:
# view the first two rows

dataframe.head(2)

   integer            datetime  category
0        5  2015-01-01 0:00:00         0
1        5  2015-01-01 0:00:01         0

In [6]:
# References: Google Sheets API